<div class="width-100 bg-dark py-3 text-center">
    <button mat-button routerLink="inicio" class="m-1 btn btn-primary text-white" >Home</button>
    <button mat-button routerLink="contacto" class="m-1 btn btn-primary text-white">Contact</button>
    <button mat-button routerLink="directivas" class="m-1 btn btn-primary text-white">Structure</button>
    <button mat-button routerLink="login" class="m-1 btn btn-primary text-white">Login</button>


    <span [ngSwitch]="Login.UserType()">
        <button *ngSwitchCase="1" mat-button routerLink="empleado" class="m-1 btn btn-primary text-white">Employe</button>
        <button *ngSwitchCase="2" mat-button routerLink="cliente" class="m-1 btn btn-primary text-white">Customer</button>
        <button *ngSwitchCase="false" mat-button routerLink="producto" class="m-1 btn btn-primary text-white">Product</button>    
    </span>

</div>
