<div class="width-100 bg-dark py-3 text-center">
    <button mat-button routerLink="inicio" class="m-1" >Inicio</button>
    <button mat-button routerLink="contacto" class="m-1">Contacto</button>
    <button mat-button routerLink="directivas" class="m-1">Directivas</button>



    <button mat-button routerLink="empleado" class="m-1">Empleado</button>
    <button mat-button routerLink="cliente" class="m-1">Cliente</button>
    <button mat-button routerLink="producto" class="m-1">Producto</button>
</div>
