
<div class="row d-flex justify-content-center" >
    <div class="col-5" >
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">User</span>
            <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                aria-describedby="basic-addon1" [(ngModel)]="User.Name"  name="Name" >
        </div>


        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username / Email" aria-label="Username / Email"
                aria-describedby="basic-addon1" [(ngModel)]="User.Email"  name="Email" >
        </div>
        
        
        
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">**</span>
            <input type="text" class="form-control" placeholder="Password" aria-label="Password"
                aria-describedby="basic-addon1" [(ngModel)]="User.Password" name="Password" >
        </div>
        

        <button type="button" class="btn btn-primary" (click)="RegistrerUser()">Login</button>
    </div>
</div>